<div class="container">
    <div class="container">
        <h1 class="text-center" style="margin: 10px;">Welcome to our story collection!</h1>
     
        
        <div class="container mt-4">

            <input type="text" [(ngModel)]="keyword" (ngModelChange)="fetchStory()" placeholder="Search story..." class="form-control mb-4">
            
            <div *ngIf="totalItems == 0">
                No Record Found
            </div>
            <div *ngIf="totalItems > 0" >
                <table  class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>URL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div></div>
                      <tr *ngFor="let record of storyModel; let i = index">
                        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                        <td>{{ record.title }}</td>
                        <td><a [href]="record.url" target="_blank">{{ isNullOrWhiteSpace(record.url)? 'N/A': record.url}}</a></td>
                    
                      </tr>
                    </tbody>
                  </table>
                  <div style="float: right;">TotalRecords: {{totalItems}}</div>
                  <!-- <nav aria-label="Page navigation">
                    <ul class="pagination"> <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
                    <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
                    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages - 1">Next</button>
                </ul>
                  </nav> -->
                  <nav aria-label="Page navigation">
                    <ul class="pagination">
                      <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="goToPage(1)">First</a>
                      </li>
                      <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
                      </li>
                
                      <li class="page-item" *ngFor="let page of totalPagesArr">
                        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
                      </li>
                
                      <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
                      </li>
                      <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="goToPage(totalPages)">Last</a>
                      </li>
                    </ul>
                  </nav>
                 
            </div>
            
          </div>
      </div>
</div>

<ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>

  <div class="my-container">
    <ng-template #customLoadingTemplate>
      <div class="custom-class">
      </div>
    </ng-template>